<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
  <link rel="icon" href="{{url_for('static', filename='favicon/home.ico')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>商品削除画面</title><br>
    <h3 align="center">削除したい商品のIDを入力してください。</h3>
</head>
<body>
    {%  if error != null %}
        <p style="color:red; text-align: center">{{error}}</p>
    {% endif %}
    {%  if msg != null %}
        <p style="color:blue; text-align: center">{{msg}}</p>
    {% endif %}
    <form action="{{url_for('delete_shopping')}}" method="post">
        <div align="center">
        ID:<input type = "text" name = "id">
        <button type = "submit">削除</button>
        </div>
    </form>
    <br><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>商品名</th>
                <th>価格</th>
                <th>商品説明</th>
                <th>カテゴリー</th>
                <th>在庫</th>
            </tr>
        </thead>
        <tbody>
            {% for product in goods %}
            <tr>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td>
                <td>{{ product[3] }}</td>
                <td>{{ product[4] }}</td>
                <td>{{ product[5] }}</td>
                <td>
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
  <div align="left">
    <a class="right" href="{{url_for('mypage')}}">戻る</a>
    </div>
</body>
</html>