<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{url_for('static', filename='favicon/home.ico')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <title>ユーザー登録画面</title>
</head>
<body>
    <h1 align="center">ユーザー登録画面</h1>
    <div style="margin: 0 auto; padding: 30px; border: 7px double #333333; border-radius: 30px; width: 35%;">
    {% if error != null %}
        <p style="color:red; text-align: center">{{error}}</p>
    {% endif %}
    
    </form>
    <form class="user" action="{{url_for('register_exe')}}" method="post">
        <h3>ユーザー名:<input type="text" name="username" value="{{data.user_name if data is defined else ''}}"></h3><br>
        <h3>パスワード:<input type="password"  name="password" value="{{data.password if data is defined else ''}}"></h3><br>
        <div align="center" class="login">
        <button class="button" type="submit">登録</button>
        </div>
    </div>
    </form>
    <div align="center" style="margin-top: 30px">
        <a href="{{url_for('logout')}}" class="btn btn-border">戻る</a>
    </div>
</body>
</html>